
body {
    // background-color: #303030;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.titleFlex {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    .plus {
        margin-left: 40%;
        margin-top: 1.5%;
        text-decoration: none;
        color: gray;
    }
}

.line {
    width: 1100px;
    color: gray;
}

.linksFlex {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    .link1 {
        margin-right: 10%;
    }
}

.hoverBuble {
    transition: 0.5s ease-in-out;
    padding: 0.5% 3% 3% 3%;
    width: 100%;
    .buble {
        display: flex;
    }
    .title {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 17px;
    }
    .profilP {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-top: 3%;
        opacity: 90%;
    }
    .in {
        color: gray;
    }
    .date {
        color: gray;
    }
    .name {
        text-decoration: none;
        color: black;
        margin-left: 3%;
        margin-top: 3%;
    }
    &:hover {
        box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
        transform: translateX(-15px);
    }
}


@media only screen and (max-width: 1100px) {
    .linksFlex {
        flex-direction: column;
        margin-left: 2%;
    }
    .hoverBuble {
        width: auto;
    }
    .line {
        width: auto;
    }
    .titleFlex {
        flex-direction: column;
        margin-top: 1%;
        h2 {
            margin-left: 2%;
        }
        .plus {
            margin-left: 2%;
        }
    }
}
