body {
  background-color: #303030;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.logo {
  width: 80px;
}

.navigation {
  font-size: 19px;
  text-align: center;
  font-weight: 400;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #303030;
  top: 0;
  padding: 1.5%;
}

.navBouton {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  color: white;
  margin-left: 2%;
  text-decoration: none;
}

.navBouton:hover {
  color: #FF8800;
  border-bottom: 1.5px solid #FF8800;
}

.navTitle {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  font-size: 25px;
  margin-right: 25%;
  font-weight: 700;
  color: white;
  margin-left: 2%;
  text-decoration: none;
}

.navTitle:hover {
  color: #FF8800;
}

.navBoutonBuy {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: white;
  color: black;
  padding: 15px 50px 15px 50px;
  margin-left: 3%;
  text-decoration: none;
}

.navBoutonBuy:hover {
  color: #FF8800;
  padding: 15px 65px 15px 65px;
  font-weight: 900;
}

/*--------------*/
.car {
  margin-top: 12%;
  margin-bottom: 10%;
}

.carousel-indicators {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.carousel-inner {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.carousel-inner img {
  max-height: 650px;
  margin: auto;
}

.withe1 {
  background-color: white;
  padding: 4% 2.2% 2.2% 10%;
}

.withe1 p {
  font-size: 19px;
  font-weight: 400;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2%;
}

.horr {
  font-weight: bold;
  font-size: 25px;
  margin-top: 8%;
}

.hor {
  margin-bottom: 5%;
  margin-left: 10%;
  margin-top: 2%;
}

.add {
  margin-top: 5%;
}

.add p {
  margin: 0px;
}

.adress {
  padding-top: 2%;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map {
  width: 50%;
  padding: 0%;
}

.map2 {
  width: 100%;
  height: 300%;
  background-color: white;
  margin-top: 6%;
  margin-bottom: 6%;
}

/*--------------------------------------------------------------------*/
footer ul a {
  font-size: 17px;
  color: white;
  line-height: 25px;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 20px;
  width: 150px;
}

.flexFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 2%;
}

ul a:hover {
  color: #FF8800;
  text-decoration: none;
}

.footerTitle {
  color: #868686;
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 1100px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 400;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    position: unset;
    padding: 0;
  }
  .navTitle {
    margin: 0px 0px 18px 15px;
    font-size: 30px;
  }
  .navBouton {
    margin-bottom: 0.8%;
    background-color: whitesmoke;
    color: black;
    padding: 1.5%;
    margin-left: 0;
    font-size: 17px;
  }
  .navBouton:hover {
    color: #FF8800;
    font-size: 19px;
  }
  .navBoutonBuy {
    margin: 0;
    color: #FF8800;
  }
  .navBoutonBuy:hover {
    font-weight: 900;
    font-size: 25px;
  }
  a {
    margin: 0;
  }
  .cardFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30%;
  }
  .card {
    margin-top: 3%;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .hor {
    margin-left: auto;
    margin-right: auto;
  }
  .add {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }
  .map {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    font-weight: 400;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    position: unset;
    padding: 0;
  }
  .navTitle {
    margin: 0px 0px 18px 15px;
    font-size: 30px;
  }
  .navBouton {
    margin-bottom: 0.8%;
    background-color: white;
    color: black;
    padding: 1.5%;
    padding-left: 3.5%;
    margin-left: 0;
    font-size: 17px;
  }
  .navBouton:hover {
    color: #FF8800;
    font-size: 19px;
  }
  .navBoutonBuy {
    margin: 0;
    padding-left: 3.5%;
    color: #FF8800;
  }
  .navBoutonBuy:hover {
    font-weight: 700;
    font-size: 22px;
  }
  .cardFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15%;
  }
  .card {
    margin-top: 3%;
  }
}
/*# sourceMappingURL=restaurants.css.map */