@charset "UTF-8";


body {
    font-family: 'Oswald', sans-serif;
    color: rgb(15, 20, 31);
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 2 / 1 / 4 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 4; }
    .div5 { grid-area: 3 / 2 / 4 / 4; }
    .div6 { grid-area: 4 / 2 / 5 / 4; }


/* name */
.name {
    background-color: #017e7f;
    margin: 45px;
    padding: 10px 0px 10px 70px;
    border-radius: 5px;
}
h1 {
    font-size: 35px;
}
.adressemail {
    padding-top: 185px;
}


/* competence */
.competence {
    padding-left: 45px;
}
a.link {
    font-size: 18px;
    text-decoration: none;
    padding-left: 20px;
}
.title {
    font-size: 22px;
    margin-bottom: 2px;
    color: rgb(11, 122, 81);
    text-transform: uppercase;
}
.ligne {
    margin-top: 0px;
    margin-left: 22px;
}
.compe {
    margin-bottom: 0px;
    font-size: 18px;
    margin-left: 22px;
}


/* hobby */
.hobby {
    padding-left: 45px;
    padding-top: 100px;
}
.hobbie {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color : #005f5f;
}
ul.hobbyul {
    margin-top: 6px;
    font-size: 17px;
}


/* profil + experience + foramtion*/
.proftitle {
    font-size: 40px;
}
.proftext {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 140px;
}
.expetitle {
    font-size: 40px;
}
.job {
    font-size: 22px;
    margin-bottom: 3px;
    margin-left: 20px;
}
ul.expelist {
    font-size: 20px;
    margin-left: 25px;
    margin-left: 20px;
}
.date {
    margin-top: 0px;
    font-size: 15px;
    margin-left: 37px;
    color: #005f5f;
    font-style: italic;
}
.formationtitle {
    font-size: 40px;
}
.formationsoustitle {
    font-size: 22px;
    margin-bottom: 3px;
    margin-left: 20px;
}
.formationdate {
    margin-top: 0px;
    font-size: 15px;
    margin-left: 50px;
    color: #005f5f;
    font-style: italic;
}
.formationdes {
    margin-top: -3px;
    margin-left: 40px;
    font-size: 20px;    
}