body {
  background-color: #161A1D;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  margin-bottom: 5%;
}

header {
  text-align: center;
  margin-bottom: 1%;
}

header h1 {
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  font-size: 77px;
  font-weight: 900;
  background-color: #E5383B;
  -webkit-box-shadow: 0px 1px 0px #c73133, 0px 2px 0px #c73133, 0px 3px 0px #c73133, 0px 4px 0px #c73133, 0px 5px 0px #c73133;
          box-shadow: 0px 1px 0px #c73133, 0px 2px 0px #c73133, 0px 3px 0px #c73133, 0px 4px 0px #c73133, 0px 5px 0px #c73133;
  padding-top: 25px;
  height: 78px;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px 0px #dfdfdf, 2px 2px 0px #dfdfdf, 3px 3px 0px #dfdfdf, 4px 4px 0px #dfdfdf, 5px 5px 0px #dfdfdf, 6px 6px 0px #dfdfdf, 7px 7px 0px #E5383B, 8px 8px 0px #E5383B, 9px 9px 0px #c73133, 10px 10px 0px #c73133, 11px 11px 0px #c73133, 12px 12px 0px #c73133, 13px 13px 0px #c73133;
}

header .copyright {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 12px;
}

header .copyright:hover {
  color: #BA181B;
  font-size: 15px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2%;
}

.container .canvas {
  background-color: #dfdfdf;
  -webkit-box-shadow: 2px 2px 7px #E5383B;
          box-shadow: 2px 2px 7px #E5383B;
  border-radius: 5px;
}

.container .theme1 {
  background-image: url("../img/theme1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 2px 2px 7px #16d4ab;
          box-shadow: 2px 2px 7px #16d4ab;
  border-radius: 5px;
}

.container .theme2 {
  background-image: url("../img/theme2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 2px 2px 7px #f08724;
          box-shadow: 2px 2px 7px #f08724;
  border-radius: 5px;
}

.container .theme3 {
  background-image: url("../img/theme3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 2px 2px 7px #b8163e;
          box-shadow: 2px 2px 7px #b8163e;
  border-radius: 5px;
}

.container .winLose {
  text-align: center;
  color: #E5383B;
  font-size: 35px;
  text-shadow: 1px 1px 0px #dfdfdf, 2px 2px 0px #dfdfdf, 3px 3px 0px #dfdfdf, 4px 4px 0px #dfdfdf;
}

.liveFlex {
  margin-left: 15px;
  margin-top: 10%;
}

.liveFlex .heartClass {
  width: 50px;
  height: auto;
  margin-left: 5px;
  -webkit-animation-name: heartrotate;
          animation-name: heartrotate;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes heartrotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes heartrotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.buttonPlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
  width: 220px;
  font-size: 15px;
  margin-top: 2%;
}

.buttonPlay .timer {
  margin-top: 15%;
  text-align: center;
  color: white;
}

.buttonPlay .control {
  text-align: center;
  color: white;
  font-size: 17px;
  text-shadow: 1px 1px 0px #272727;
}

.buttonPlay .score {
  color: #E5383B;
}

.buttonPlay .buttonUp {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #adadad;
  border: unset;
  background-color: #E5383B;
  -webkit-box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
          box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
  font-size: 15px;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonPlay .buttonUp:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.buttonPlay .buttonDiff {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #adadad;
  border: unset;
  background-color: #E5383B;
  -webkit-box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
          box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
  font-size: 15px;
  margin-top: 8%;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonPlay .buttonDiff:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.buttonPlay .buttonTheme {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #adadad;
  border: unset;
  background-color: #E5383B;
  -webkit-box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
          box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
  font-size: 15px;
  margin-top: 8%;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonPlay .buttonTheme:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.buttonPlay .buttonDown {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #adadad;
  border: unset;
  background-color: #E5383B;
  -webkit-box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
          box-shadow: 1px 1px 0px #c73133, 2px 2px 0px #c73133, 3px 3px 0px #c73133, 4px 4px 0px #c73133, 5px 5px 0px #c73133;
  font-size: 15px;
  margin-top: 8%;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.buttonPlay .buttonDown:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.buttonPlay .target {
  color: white;
  text-shadow: 1px 1px 0px #272727;
  text-align: center;
  border: unset;
  margin-top: 6%;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
/*# sourceMappingURL=index.css.map */